body {
    background: #000000;
    color: #FFFFFF;
    font-family: 'Source Code Pro', monospace;
    line-height:24px;
    font-size: 20px;
}

::selection {
    color: #FFF;
    background: #FF4F00;
}

h1 {
    color: #FF4F00;
    margin-bottom: 20px;
    padding-top: 5px;
    width: max-content;
}

p {
    font-size: 20px;
    width: max-content;
    white-space: pre;
    margin-bottom: 0;
    margin-top: 2px;
    line-height: 24px;
}

a,
a:link,
a:visited,
a:active{
    color: #FF4F00;
}

#spins {
    position: fixed;
    right: 5%;
    top: 5%;
}

#orange {
    color: #FF4F00;
    font-weight: 800;
}

#green2 {
    color: #009942;
}


#colors {
    color: #00000000;
    background: #FF0000;
}

#black {
    background: #000000;
}

#red2 {
    background: #730B16;
}

#green2c {
    background: #009942;
}

#yellow2 {
    background: #cdcd00;
}

#orange2 {
    background: #993000;
}

#magenta2 {
    background: #6B0064;
}

#cyan2 {
    background: #255880;
}

#white2 {
    background: #e5e5e5;
}

#gray {
    background: #7f7f7f;
}

#red {
    background: #D91629;
}

#green {
    background: #00FF6E;
}

#yellow {
    background: #ffff00;
}

#orangec {
    background: #FF4F00;
}

#magenta {
    background: #D100C3;
}

#cyan {
    background: #4AB1FF;
}

#white {
    background: #FFFFFF;
}

#shh {
    color: #00000000;
}

